// Variables de color y fuente
$color-bg: #000000;
$color-text: #ff0000;
$color-text2: #2e2e2e;
$color-secondary-bg: #111;
$color-button-bg: #000000;
$color-button-text: #ff0000;
$color-button-border: #ff0000;
$color-link-hover: #00ffb3;
$color-footer-bg: rgb(32, 95, 82);
$color-white: #ffffff;
$title-font: "Poppins", sans-serif;

* {
    font-family: $title-font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('../../Images/imgfondo.jpg') no-repeat center center fixed;
    background-size: cover;
    color: $color-white;
}

.header {
    align-items: center;
    padding: 16px;
    background-color: $color-bg;

    &__logo {
        height: 80px;
    }
}

.checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        font-size: clamp(2rem, 4vw, 4rem);
        font-weight: bold;
        margin-bottom: 10%;
        color: $color-text;
        border: solid $color-text;
        background-color: rgba(0, 0, 0, 0.781);
        padding: 10px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        gap: 25px;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-around;
            gap: 50px;
        }
    }

    &__order, &__payment-methods {
        padding: 3%;
        border-radius: 10px;
        width: 100%;

        @media (min-width: 768px) {
            width: 300px;
        }
    }

    &__order {
        background-color: rgb(196, 247, 242);
        border: 10px solid #2a6b5b;
        color: #2a6b5b;
    }

    &__payment-methods {
        background-color: #2a6b5b;
    }

    &__order-title {
        font-size: clamp(1.8rem, 2.5vw, 2.5rem);
        color: $color-text;
        margin-bottom: 20px;
    }

    &__payment-methods-title {
        font-size: clamp(1.8rem, 2.5vw, 2.5rem);
        color: rgb(196, 247, 242);
        margin-bottom: 20px;
    }


    &__order-text, &__payment-methods-text {
        margin-top: 3%;
        font-size: clamp(1.5rem, 2.2vw, 2.2rem);
    }

    &__order-text2{
        margin-top: 1%;
        font-size: clamp(1.3rem, 2vw, 2rem);
        color: $color-text2;
    }

    &__total {
        margin-top: 20px;
        font-size: clamp(1.8rem, 2.5vw, 2.5rem);
        color: $color-text;
    }

    &__total2 {
        font-size: clamp(1.8rem, 2.5vw, 2.5rem);
        color: $color-secondary-bg;
    }

    &__confirm-button {
        margin-top: 10%;
        margin-bottom: 10%;
        padding: 3% 6%;
        background-color: rgba(0, 0, 0, 0.849);
        color: $color-text;
        border: 2px solid $color-text;
        font-size: 18px;
        cursor: pointer;

        &:hover {
            background-color: $color-text;
            color: $color-bg;
        }
    }

    .checkout__payment-methods-labelContainer{
        background-color: rgb(196, 247, 242);
        color: #111;
        padding: 2%;
        border-radius: 15px;
        text-align: left;
    }

    &__payment-methods-label {
        font-size: 20px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    &__payment-methods-input {
        margin-right: 10px;
    }
}